/**
 * Forms / Input
 */
input, textarea, select, button, label {
  margin: 0;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

.form-content{
  width: 100%;
}
.form-entry {
  color: #000;
  margin: 2em 0;
  min-width: calc(35em * .4);
  padding: 1em;
  width: 65%;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

.form-entry h2, .form-entry h3 {
  font-family: $helvetica;
  margin-top: 1em;
}

.form-entry label h3 {
  display: inline;
}

.form-entry ul {
  list-style: none;
  text-align: left;
  padding: 0;

}

.form-entry li {
  padding: .2em;
}

.form-entry input[type="submit"]{
  display: block;
  margin: 2em 0;
}

.form-entry input[type="text"] {
  font-size: 1em;
}


.current-play {
  background-color: rgba(95, 15, 64, .2);
  border: 2px solid #5F0F40;
}

.current-play h2 {
  color: #5F0F40;
}

.start-of-play {
  background-color: rgba(15, 76, 92, .2);
  border: 2px solid #0F4C5C;
}

.start-of-play h2 {
  color: #0F4C5C;
}

.ongoing-play {
  background-color: rgba(227, 100, 20, .2);
  border: 2px solid #E36414;
}

.ongoing-play h2 {
  color: #E36414;
}

.ongoing-play .form-entry-sub {
  border-top: 1px solid #E36414;
  padding-top: 1em;
}
